{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset formularioRestablecer">
    {{ form_widget(form) }}
    <div>
        <ul>
            <li><input id="_submit" name="_submit" class="submit" value="{{ 'resetting.reset.submit'|trans }}" type="submit"></li>
        </ul>
        
        
    </div>
    

</form>
