{% trans_default_domain 'FOSUserBundle' %}

<div class="panel white-alpha-90" >
    <div class="panel-heading">
        <div class="panel-title text-center"><h2>Crear nueva <span class="text-primary">Contraseña</span></h2></div>
    </div>     
    <div class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset formularioRestablecer">
            {{ form_widget(form) }}
    <div>
        
      <input id="_submit" name="_submit" class="submit" value="{{ 'resetting.reset.submit'|trans }}" type="submit">
       
        
        
    </div>
    

</form>
    </div>                     
</div> 
