{% trans_default_domain 'FOSUserBundle' %}

<div class="panel white-alpha-90" >
    <div class="panel-heading">
        <div class="panel-title text-center"><h2>Cambiar <span class="text-primary">Contraseña</span></h2></div>
    </div>     
    <div class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>                     
</div> 
